{% extends "projects/base_small.html" %}
{% load static %}

{% block extra_head %}

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link  href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link  href="{% static 'css/global.css' %}" rel="stylesheet">

{% endblock extra_head %}
{% block content %}

<body>
    <main >
        <div class="container pt-5">
          <!--Section: Projects v.3-->
          <section class="text-center mb-4 pt-5">
          <!-- Heading -->
          <hr>
          <h2>Payment</h2>
          <!--Grid row-->
          <div class="row row fadeIn pt-5">
            <!--Grid column-->
            <div class="col-md-10 mb-4 offset-1">
                <script src="https://js.stripe.com/v3/"></script>
                <form id="payment-form" class="sr-payment-form">{% csrf_token %}
                  <div class="sr-combo-inputs-row">
                    <div class="sr-input sr-card-element" id="card-element"></div>
                  </div>
                  <div class="sr-field-error" id="card-errors" role="alert"></div>
                  <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Submit Payment</span><span id="order-amount"></span>
                  </button>
                </form>
                <div class="sr-result hidden">
                  <p>Payment completed<br /></p>
                  <pre>
                      <h5></h5>
                  </pre>
                </div>
           </div>
            <div class="col-md-10 mb-4 offset-1">
              {% include "payments/order_snippet.html" %}
            </div>
          </div>
          </section>
        </div>
    </main>
</body>


<script type="text/javascript" nonce="P5atKcHUkp+o40UydJa9hw==">  // Create a Stripe client.
    // A reference to Stripe.js
    var stripe;

    var orderData = {
      items: [{ id: "photo-subscription" }],
      currency: "chf"
    };

    // Disable the button until we have Stripe set up on the page
    document.querySelector("button").disabled = true;

    function getCookie(name) {
        if (!document.cookie) {
        return null;
        }

    const xsrfCookies = document.cookie.split(';')
        .map(c => c.trim())
        .filter(c => c.startsWith(name + '='));

        if (xsrfCookies.length === 0) {
          return null;
        }

        return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }

    const csrfToken = getCookie('CSRF-TOKEN');

    // REPLACE WITH FETCH EXISTING PAYMENT INTENT
    fetch("{% url 'order:get-payment-intent' %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify(orderData),
      credentials: "same-origin"
    })
      .then(function(result) {
        return result.json();
      })
      .then(function(data) {
        return setupElements(data);
      })
      .then(function({ stripe, card, clientSecret }) {
        document.querySelector("button").disabled = false;

        // Handle form submission.
        var form = document.getElementById("payment-form");
        form.addEventListener("submit", function(event) {
          event.preventDefault();
          // Initiate payment when the submit button is clicked
          pay(stripe, card, clientSecret);
        });
      });

    // Set up Stripe.js and Elements to use in checkout form
    var setupElements = function(data) {
      stripe = Stripe(data.publishableKey);
      var elements = stripe.elements();
      var style = {
        base: {
          color: "#32325d",
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };

      var card = elements.create("card", { style: style });
      card.mount("#card-element");

      return {
        stripe: stripe,
        card: card,
        clientSecret: data.clientSecret
      };
    };

    /*
     * Calls stripe.confirmCardPayment which creates a pop-up modal to
     * prompt the user to enter extra authentication details without leaving your page
     */
    var pay = function(stripe, card, clientSecret) {
      changeLoadingState(true);

      // Initiate the payment.
      // If authentication is required, confirmCardPayment will automatically display a modal
      stripe
        .confirmCardPayment(clientSecret, {
          payment_method: {
            card: card
          }
        })
        .then(function(result) {
          if (result.error) {
            // Show error to your customer
            showError(result.error.message);
          } else {
            // The payment has been processed!
            orderComplete(clientSecret);
          }
        });
    };

    /* ------- Post-payment helpers ------- */

    /* Shows a success / error message when the payment is complete */
    var orderComplete = function(clientSecret) {
      stripe.retrievePaymentIntent(clientSecret).then(function(result) {
        var paymentIntent = result.paymentIntent;
        {#var paymentIntentJson = JSON.stringify(paymentIntent, null, 2);#}

        document.querySelector(".sr-payment-form").classList.add("hidden");
        {#document.querySelector("pre").textContent = paymentIntentJson;#}
        {#document.querySelector("pre").textContent = "";#}

        document.querySelector(".sr-result").classList.remove("hidden");
        setTimeout(function() {
          document.querySelector(".sr-result").classList.add("expand");
        }, 200);

        changeLoadingState(false);
      });
    };

    var showError = function(errorMsgText) {
      changeLoadingState(false);
      var errorMsg = document.querySelector(".sr-field-error");
      errorMsg.textContent = errorMsgText;
      setTimeout(function() {
        errorMsg.textContent = "";
      }, 4000);
    };

    // Show a spinner on payment submission
    var changeLoadingState = function(isLoading) {
      if (isLoading) {
        document.querySelector("button").disabled = true;
        document.querySelector("#spinner").classList.remove("hidden");
        document.querySelector("#button-text").classList.add("hidden");
      } else {
        document.querySelector("button").disabled = false;
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
      }
    };
</script>

{% endblock content %}