[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"

[packages]
django = "==2.2.6"
psycopg2-binary = "*"
whitenoise = "*"
django-crispy-forms = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.8"
