[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"
django-environ = "*"

[packages]
psycopg2-binary = "*"
whitenoise = "*"
django-crispy-forms = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
dj-stripe = "*"
django-countries = "*"
python-decouple = "*"
django = "==2.2.18"

[requires]
python_version = "3.8"
