{% extends "projects/base.html" %}
{% load static %}

{% block content %}

<!--Main layout-->
<main>
  <div>
    <!--Section: Projects v.3-->
    <section class="text-center md-10">
      <hr>
      <h2>Current Projects</h2>
      <!-- Portfolio Section -->
      <section id="portfolio">
        <div class="container-fluid p-0">
          <div class="row no-gutters" style="flex-direction: column;">
            {% for proj in newproject %}
            <div>
              <a class="portfolio-box" href="{% url 'newproject-detail' proj.id %}">
                <div class="flex-row" style="display: flex;
                align-items: center;
                justify-content: center;">
                {% if forloop.counter|divisibleby:2 %}
                  <div style="height: 100%; width: 50%;"></div>
                  <img class="img-fluid" style="float: right;" src="{% static 'img/portfolio/thumbnails/4.jpg' %}" alt="">
                {% else %}
                  <img class="img-fluid" style="float: left;" src="{% static 'img/portfolio/thumbnails/4.jpg' %}" alt="">
                  <div style="height: 100%; width: 50%;"></div>
                {% endif %}
                  
                </div>
                  
                <div class="portfolio-box-caption">
                  <div class="project-category text-white-50">
                    {{ proj.newproject_text }}
                  </div>
                  <div class="project-name">
                    {{ proj.title }}
                  </div>
                  <div class="project-name">
                    {{ proj.date_posted|date:"F d, Y" }}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

        </div>
      </section>
    </section>
  </div>
</main>

<!--Main layout-->

{% endblock content %}