{% extends "projects/base.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container pt-5">
      <!--Section: Projects v.3-->
      <section class="text-left mb-4">
          <div class="container pt-5">
            <div class="content-section">
                <h2>You are logged out.</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a href="{% url 'login' %}">Sign In</a> again.
                    </small>
                </div>
            </div>
          </div>
      </section>
    </div>
  </main>
{% endblock content %}