{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  function requestResetPassword() {
    var email = $("input[name=email]").val();
    if (email.trim().length > 0) {
      var formData = $("form").serialize();
      $.post(
        window.location.href,
        formData,
        function (data) {
          $('#popup').html('<div style="visibility: visible; width: 100vw; height: 100vh; display: flex; flex-direction: column; position: fixed; float: none; z-index: 999; background-color: #0008;'
            + 'justify-content: center; align-items: center;"> <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 80vw; height: 20vh;'
            + 'border-radius: 0.5rem; background-color: #000b; color: #888;" onclick="backToPrevious()"><a>An email has been sent with instructions to reset your password.</a></div></div>');
        }
      );
    } else {
      $("form").submit();
    }
  }

  function backToPrevious() {
    window.history.back();
  }
</script>
<!--Main layout-->
<main>
  <div class="container pt-5">
    <!--Section: Projects v.3-->
    <section class="text-left mb-4">
      <div class="row row fadeIn pt-5">
        <div class="col-6 offset-3">
          <form method="POST" onsubmit="return false">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Reset Password</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit" onclick="requestResetPassword()">Request Password Reset</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}