{% extends "projects/base_small.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  function resetPassword() {
    var pwd1 = $("input[name=new_password1]").val();
    var pwd2 = $("input[name=new_password2]").val();
    if (pwd1.trim().length > 0 && pwd2.trim().length > 0 && pwd1 == pwd2) {
      var formData = $("form").serialize();
      $.post(
        window.location.href,
        formData,
        function (data) {
          $('#popup').css("visibility", "visible");
          $('#popup').html(
            '<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">'
            + '<a href="javascript:toLogin()" style="text-decoration: none;">'
            + '<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 80vw; height: 20vh;'
            + 'border-radius: 0.5rem; background-color: #000b; color: #888;">Your new password has been reset.</div>'
            + '</a>'
            + '</div>');

          setTimeout(function () {
            $('#popup').fadeOut(2000, function () {
              $('#popup').css("visibility", "hidden");
              $('#popup').html("");
              toLogin();
            });
          }, 2000);
        }
      );
    } else {
      $("form").submit();
    }
  }

  function toLogin() {
    var url = "{% url 'login' %}";
    location.href = url;
  }
</script>
<!--Main layout-->
<main>
  <div class="container pt-5">
    <!--Section: Projects v.3-->
    <section class="text-left mb-4">
      <div class="container pt-5">
        <div class="content-section">
          <form method="POST" onsubmit="return false">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Reset Password</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit" onclick="resetPassword()">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}