{% extends "projects/base_small.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container pt-5">
      <!--Section: Projects v.3-->
      <section class="text-left mb-4">
          <div class="container pt-5">
            <div class="content-section">
                <div class="alert alert-info">
                    Your new password has been reset.
                </div>
                <a href="{% url 'login' %}">Sign In Here</a>
            </div>
          </div>
      </section>
    </div>
  </main>
{% endblock content %}