{% extends "projects/base_small.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container pt-5">
      <!--Section: Projects v.3-->
      <section class="text-left mb-4">
        <div class="container pt-5">
            <div class="content-section">
                <div class="alert alert-info">
                    An email has been sent with instructions to reset your password.
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
{% endblock content %}